<footer>
    <section id="redes_sociais">
        <a href="https://linkedin.com/in/czagiacomo/" target="_blank">
            <img src="assets/img/linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="https://github.com/czagiacomo" target="_blank">
            <img src="assets/img/github.svg" alt="Github" />
        </a>
        <a href="https://czagiacomo.github.io/Portfolio/" target="_blank">
            <img src="assets/img/portfolio_03.svg" alt="Portfolio" />
        </a>
    </section>
    <h3>Feito com ❤️ por Catharina Zagiacomo - 2025</h3>
</footer>