<header>
    <div id="header_content" class="flex">
        <div id="menu">
            <li>
                <a href="index.html">
                    <img src="./assets/img/favicon_01.svg" width="60" height="60" alt="Home" />
                </a>
            </li>
        </div>
        <div id="titulo">
            <h1>Catharina Zagiacomo</h1>
        </div>
        <div id="menu">
            <nav>
                <ul id="menu">
                    <li>
                        <a href="index.html"> Home </a>
                    </li>
                    <li>
                        <a href="contato.html"> Contato </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>