@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0%,
  10% {
    transform: translateX(0);
  }
  33%,
  43% {
    transform: translateX(-33.3333%);
  }
  66%,
  76% {
    transform: translateX(-66.6666%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-slide {
  animation: slide 30s infinite
}
